# Cache Data
__pycache__
*_cache

# OS made files (when looking in the folder)
.DS_Store
desktop.ini

# Virtual enviroment data
.BattleshipsVenv

# Private data (game saves and stuff)
Saves
Data
ApiFiles

# Test files (TabletPath is local to me only, will be removed)
DownloadFileTest.txt
TabletPath.txt

# VSCode files
.vscode
